/*Nav bar styles*/
.container-fluid {
  background-color: black;
  color: white;
}

.current {
  background-color: blue;
}
/*End Navbar styles*/

/*Slideshow styles*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*End slideshow styles*/

/*Text styles*/
h1 {
  color: black;
  text-align: center;
  font-family: Verdana;
}
h2 {
  color: blue;
  font-size: 30px;
  font-family: Verdana;
  text-align: center;
}
h3 {
  color: teal;
  font-size: 15px;
  text-align: center;
}
h4 {
  color: Black;
  font-size: 15px;
  text-align: left;
  font-weight: bold;
}
p {
  color: black;
  font-family: Verdana;
  font-size: 15px;
  text-align: left;
}
ul {
  color: black;
  font-family: Verdana;
}

/* Image [To be added] */
.img {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.container-text {
  background-color: green;
  font-weight:bold;
  padding: 20px;
  margin: 16px;
  text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after thecolumns */
.row:after {
    content: "";
   display: table;
    clear: both;
}

/* Responsivelayout - makes the three columns stack on top of each other instead of nextto each other on smaller screens (600px wide or less) */
@media screen and (max-width:600px) {
    .column{
        width: 100%;
   }
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: lightblue;
    margin-top: 20px;
    font-size: 15px; 
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover.dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
