/*Nav bar styles*/
.container-fluid {
  background-color: black;
  color: white;
}
.navbar {
  margin-bottom: 0;
}
.navbar-inverse .navbar-nav>li.current>span {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  display: inline-block;
}
/*End Navbar styles*/

/*Slideshow styles*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*End slideshow styles*/

/*Text styles*/
h1 {
  color: black;
  text-align: center;
  font-family: 'Sedgwick Ave', cursive;
  margin: 15px;
}
h2 {
  color: blue;
  font-size: 30px;
  font-family: Verdana;
  text-align: center;
  margin: 15px;
}
h3 {
  color: teal;
  font-size: 15px;
  text-align: left;
  margin: 15px;
}
h4 {
  color: Black;
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  margin: 15px;
}
p {
  color: black;
  font-family: Verdana;
  font-size: 15px;
  text-align: center;
  margin: 15px;
}
ul {
  color: black;
  font-family: Verdana;
  margin: 15px;
}

/* Images */
.img {
    width: 75%;
    padding: 20px;
    margin: 20px;
    align: center;
}

.container-text {
  background-color: green;
  font-weight:bold;
  padding: 20px;
  margin: 16px;
  text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after thecolumns */
.row:after {
    content: "";
   display: table;
    clear: both;
}

/* Responsivelayout - makes the three columns stack on top of each other instead of nextto each other on smaller screens (600px wide or less) */
@media screen and (max-width:600px) {
    .column{
        width: 100%;
   }
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
    margin-top: 20px;
    font-size: 15px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover.dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}

/*header image*/
.hero__wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 51px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__wrapper::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.3);
  content: " ";
  display: block;
}

.hero__wrapper h1 {
  color: #fff;
  margin: 0;
  position: relative;
  z-index: 10;
}

/* Two columns */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/*css for social buttons*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.row {
  margin-bottom: 24px;
}

.intro-text h3,
.section,
.section h4 {
  text-align: center;
}

.section {
  background: #f6f6f6;
  padding: 16px;
  min-height: 555px;
}

.section .img {
  width: 100%;
}
.section img {
  max-width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #c16266;
    color: black;
}
